<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /tutcube/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?section=$1 [L]
</IfModule>